#page(data-role="page", data-url="#{url}")
    #header(data-role="header")
        a(href="/new/select-type/", data-icon="arrow-l", data-direction="reverse", data-iconpos="notext") Back
        h1 #{subtitle}
        a(href="/", data-icon="home", data-direction="reverse", data-iconpos="notext") Home

        #navbar(data-role="navbar")
            ul
                li
                    a(href="/new/select-source/me", data-transition="none") Me
                li
                    a(href="/new/select-source/friends", data-transition="none") Friends
                li
                    a(href="/new/select-source/pages", data-transition="none") Pages
                li
                    a(href="/new/select-source/events", data-transition="none", class="ui-btn-active") Events
    #content(data-role="content")
        form(method="POST", action="/fb")
            - if (instanceArray && instanceArray.length) {
            ul(data-role="listview", data-filter="true", data-filter-placeholder="Filter events...")
                - var newChar = '';
                - instanceArray.forEach(function(evnt){
                    - if (evnt.name.charAt(0) !== newChar) {
                    - newChar = evnt.name.charAt(0);
                    li(data-role="list-divider")= newChar.toUpperCase()
                    - }
                    li
                        a(href="home")
                            div
                                img(src="http://graph.facebook.com/#{evnt.id}/picture", alt="#{evnt.name}")
                                = evnt.name
                - })
            - } else {
            p No event available.
            - }
    #footer(data-role="footer")
        span &copy; Martin Angers 2011 - Alpha version    
